<html>
  <head>
    <title>Blog de Cristian</title>
  </head>

  <body>

    <div>
      <h1><a href="">Django Girls Blog</a></h1>
    </div>

    <div>
      <p>publicado: 01/11/2017, 01,51</p>
      <h2><a href="">Mi primer post</a></h2>
      <p>Aenean	eu	leo	quam.	Pellentesque	ornare	sem	lacinia	quam	venenatis	vestibulum.	Donec	id	elit	non	m
i	porta	gravida	at	eget	metus.	Fusce	dapibus,	tellus	ac	cursus	commodo,	tortor	mauris	condimentum	nibh,	ut	fermentum
massa	justo	sit	amet	risus.</p>
    </div>

    <div>
      <p>publicado: 01/11/2017, 01:54</p>
      <h2><a href="">Mi segundo post</a></h2>
      <p>Aenean	eu	leo	quam.	Pellentesque	ornare	sem	lacinia	quam	venenatis	vestibulum.	Donec	id	elit	non	m
i	porta	gravida	at	eget	metus.	Fusce	dapibus,	tellus	ac	cursus	commodo,	tortor	mauris	condimentum	nibh,	ut	f.</p>
    </div>

  </body>
</html>
